NEWAPI_BASE_URL=http://newapi:3000
DATA_PORT=15880
ADMIN_PORT=15881
PUBLIC_IMAGE_BASE_URL=http://10.0.0.1:15880/_gateway/images/
EASYTIER_BIND_IP=127.0.0.1
LAN_BIND_IP=127.0.0.1
NEWAPI_DOCKER_NETWORK=newapi
DATA_DIR=/data
MAX_JSON_BODY_BYTES=4194304
MAX_RESPONSE_BYTES=16777216
MAX_IMAGE_BYTES=67108864
UPSTREAM_TIMEOUT=10m
IMAGE_TIMEOUT=2m
DOWNLOAD_WORKERS=4
MIN_FREE_BYTES=2147483648
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-at-least-12-characters
COOKIE_SECURE=false
